doctype html
html(lang="sv")
	head
		meta(charset='UTF-8')
		title Lars Jönsson
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet')
		link(href="https://fonts.googleapis.com/css?family=Raleway:400,700", rel="stylesheet")
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet', href='/assets/css/dist/print.css', media="print")
		link(rel='stylesheet', href='/assets/css/dist/style.css')
	body
		header
			.text.wrapper
				a.logo(href="./" title="Gå till startsidan" tabindex="1")
					h1 Lars Jönsson
					p.exempel Det här är en utskrift av dig för att komma ihåg mig. :)
				.dropdown-menu
					label(for="toogle") &#9776;
					input(type="checkbox" id="toogle" class="toogle")
					nav.nav.menu
						ul
							li
								a(href="#" title="Det här är jag" tabindex="2") Om mig
							li
								a(href="#" title="Vad jag kan erbjuda dig" tabindex="3") Mina tjänster
							li
								a(href="#" title="Mina färdiga arbeten" tabindex="4") Showcase
							li
								a(href="#" title="Maila mig" tabindex="5") Kontakt
							li
								a(href="process.html" title="Min process" tabindex="6") Min process

			.about
				p.
					Jag började lära mig webbutveckling för cirka två år sedan. Jag kommer inte ihåg vad som gjorde att jag fastnade så
					pass mycket för det. Men jag ångrar inte tiden jag lagt ner i alla fall. På fritiden så tränar jag styrka.
					Har vunnit två guld i bänkpress DM. Så sitter jag förstår all ledig tid med Javascript just nu för att försöka lära mig.


		main
			.features.wrapper
				.page-break.card.artikel-1
					figure
						img.gizmo(src="/assets/img/3.svg", alt="En bild på våran hund Gizmo")
					article
						h2 Artikel Ett
						span <strong>Måndag 23 Oktober, 2017 <br /> Av <em>Lars Jönsson</em></strong>
						p div Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quibusdam quaerat modi blanditiis numquam sit, aliquam exercitationem pariatur asperiores? Repudiandae dolore placeat doloremque impedit rem soluta dolores harum blanditiis ducimus eveniet.
						p Aliquam efficitur ultricies risus, id ultricies metus ullamcorper venenatis. Mauris ante dui, tempus quis gravida ac, lobortis in risus. Nam tempus sapien a lobortis euismod. Aliquam in maximus sem. Nam vehicula nunc ac urna fringilla tempor. Donec quam mi, efficitur quis efficitur sed, scelerisque nec dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas in neque purus. Nam ultrices quis mi eu tempor. Cras aliquet imperdiet lacus lobortis blandit. Integer consectetur, enim sed auctor imperdiet, urna leo feugiat massa, eu pulvinar felis sem eu nisi. Sed bibendum nisi malesuada dui varius, et tincidunt libero mollis. Pellentesque non massa sit amet ipsum ultricies convallis. Integer posuere mattis elit, vel tincidunt nunc interdum ut.
				.page-break.card.artikel-2
					figure
						img.me(src="/assets/img/1.svg", alt="En bild på mig")
					article
						h2 Artikel Två
						span <strong>Måndag 3 September, 2017 <br /> Av <em>Fredrik Larsson</em></strong>
						p div Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore vel quam doloribus consequuntur inventore numquam in officiis quo ullam, earum obcaecati culpa doloremque, incidunt nulla error repudiandae? Ab, eum?
						p Aliquam efficitur ultricies risus, id ultricies metus ullamcorper venenatis. Mauris ante dui, tempus quis gravida ac, lobortis in risus. Nam tempus sapien a lobortis euismod. Aliquam in maximus sem. Nam vehicula nunc ac urna fringilla tempor. Donec quam mi, efficitur quis efficitur sed, scelerisque nec dolor. Interdum et malesuada fames ac ante ipsum primis in faucibus. Maecenas in neque purus. Nam ultrices quis mi eu tempor. Cras aliquet imperdiet lacus lobortis blandit. Integer consectetur, enim sed auctor imperdiet, urna leo feugiat massa, eu pulvinar felis sem eu nisi. Sed bibendum nisi malesuada dui varius, et tincidunt libero mollis. Pellentesque non massa sit amet ipsum ultricies convallis. Integer posuere mattis elit, vel tincidunt nunc interdum ut.
				.page-break.card.artikel-3
					figure
						img.family(src="/assets/img/2.svg", alt="En bild på min familj")
					article
						h2 Artikel Tre
						span <strong>Måndag 13 Januari, 2017 <br /> Av <em>Johan Nilsson</em></strong>
						p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius dolore vel quam doloribus consequuntur inventore numquam in officiis quo ullam, earum obcaecati culpa doloremque, incidunt nulla error repudiandae? Ab, eum?
						p Lorem ipsum dolor sit amet consectetur adipisicing elit. Est harum excepturi repudiandae, accusantium quia tempore soluta velit. Quos nisi excepturi iste quod. Autem obcaecati eligendi et veniam eius ducimus blanditiis?

		footer.wrapper
			.one
				h2 Adress
				address
					p Storgatan 1
					p 123 45 Lillestad
			.two
				h2 Telefon
				p
					a(href="tel:0123456789") (+46) 123 - 456 789
				p
					a(href="tel:07012345678") (+46) 70 - 123 45 678
			.three
				h2 E-post
				p
					a(href="mailto:info@stortego.se") info@stortego.se
				p
					a(href="mailto:sales@stortgo.se") sales@stortgo.se

