doctype html
html
	head
		meta(charset='UTF-8')
		title Ex uppgift *css grid*
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(href='https://fonts.googleapis.com/css?family=Playfair+Display:400,700', rel='stylesheet')
		link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css')
		link(rel='stylesheet', href='/assets/css/style.css')
	body
		header
			.text.wrapper
				a.logo(href="./" title="Gå till startsidan" tabindex="1")
					h1 Lars Jönsson
				.dropdown-menu
					label(for="toogle") &#9776;
					input(type="checkbox" id="toogle")
					nav.nav.menu
						ul
							li
								a(href="#" title="Det här är jag" tabindex="2")
							li
								a(href="#" title="Vad jag kan erbjuda dig" tabindex="3") Mina tjänster
							li
								a(href="#" title="Mina färdiga arbeten" tabindex="4") Showcase
							li
								a(href="#" title="Maila mig" tabindex="5") Kontakt
							li
								a(href="process.html" title="Min process" tabindex="6") Min process

		main.wrapper
			article.process
				h1.lead