@media print
  header
    img
      display: none
    .wrapper
      .dropdown-menu
        display: none

@page
  size: A4

.break
  //Lagt till en klass här som gör en brytning till en ny sida när man ska skriva ut.
  page-break-after: always