*
  &::before, &::after
    box-sizing: border-box
		/*Stjärnan anger att den ska gälla för alla element som finns och pseudo koderna anger även att det gäller dem. Helst ska man inte ange detta i ett riktigt case, då det kan slöa ned webbsidan.*/

body
	/*Här anger jag en så kallad shorthand. Tycker det är ett snabbare och mer clean kod. 16px är storleken på fonten, 1.5 är radavståndet, sen kommer font-family.*/
	font: 16px/1.5 'Raleway', sans-serif

.wrapper
	max-width: 960px
	margin: 0 auto

header
	background: url('/assets/img/header-img.jpg') center center
	background-size: cover
	height: 500px
	position: relative
	.text
		display: flex
		justify-content: space-between
		align-items: center
		padding-top: 1rem
		.logo
			text-decoration: none
			h1
				font-family: 'Playfair Display', serif
				color: #fafafa
				margin: 0
				letter-spacing: 2px
			p.exempel
				display: none
		.dropdown-menu
			label
				display: none
			#toogle
				display: none
		.nav
			display: flex
			align-items: center
			padding: 1rem
			ul
				padding: 0
				margin: 0
				li
					display: inline
					list-style: none
					transition: background 300ms ease
					/*Transition gör så att jag kan "animera" färger,skuggor. Flytta element, rotera element etc., det gör man med transition: transform*/
					&:last-child
						border: 1px solid #4271c5
						background: #6495ed
						padding: 0.5rem 0
						margin: 1rem
						@media (max-width: 768px)
							margin: 0
						&:hover
							background: #4271c5
						@media (max-width: 768px)
							border: none
							&:hover
								background: transparent
					a
						color: #fff
						margin: 1rem
						text-decoration: none
						padding: 0.5rem 0

	.about
		width: 50%
		position: absolute
		top: 50%
		right: 0
		margin-right: 3rem
		p
			color: #fff

main
	background: #f6f6f6
	padding-bottom: 4rem
	.features
		/*Här väljer jag att låta webbläsaren välja vad som ska användas. Om webbläsaren inte kan förstå Css Grid så kommer den att köra på flexbox. Sjävla @support funkar inte på IE 11. Flexbox funkar dock på IE 11, men med en massa buggar. Css Validator agner det här som error. Men det är ju inte det. Jag har kollat Css Validator på github och det dem jobbar på problemet med att ta bort det som en varning. https://github.com/w3c/css-validator/issues/71*/
		@supports (display: grid)
			display: grid
			grid-gap: 1rem
			grid-template-columns: repeat(3, 1fr)
			grid-template-rows: 1fr
		display: flex
		flex-direction: column
		/*Flex är en dimensionell. Medans Grid är två dimensionell. Flex kan hantera antingen bara en kolumn eller rad, Grid kan hantera båda samtidigt. Här säger jag att jag vill ha allt i .features klassen uppställt som i en kolumn om inte webbläsaren kan förstå CSS Grid.*/
		.card
			background: #fff
			border: 1px solid #dadada
			margin: 1rem 0
			/*Här vill jag använda mig av height: fit-content som är en del av CSS-grid. Då anpassar höjden sig efter innehållet i kolumnen automatiskt, det blir då ingen whitespace som det är nu. Men eftersom det inte finns support för alla webbläsre ännu så skippar jag det.*/
			.gizmo
				right: 40px
			.me
				margin: 0 auto
			.family
				position: relative
				right: -63px
			img
				display: block
				max-width: 80%
				border: 10px solid #fff
				border-radius: 50%
				position: relative
				top: -70px
			article
				background: #fff
				padding: 1rem
				span
					font-size: 0.8rem
					em
						color: tomato

/*PROCESS-SIDAN*/

article.process
	background: #fff
	padding: 0 1rem
	/*En selektor som säger att i klassen(erna) process så markera det första p elemtet som dyker upp. Har jag flera .process klasser så markeras bara den första.*/
	>	p
		&::after
			/*Psuedo-element = :: och Psuedo-class = : */
			content: ''
			width: 200px
			height: 5px
			background: orange
			display: block
			margin: 25px auto 0
			position: relative
			top: 25px
			/*En liten detalj som gör det lite snyggare. Jag använder mig av något som heter pseudo-element. Det använder man när man vill styla vissa delar av ett element, som att ändra första bokstaven i en mening.*/
	code
		background: #f5f2f0
	pre
		background: #f7f7f7
		border: 1px solid #ccc
		margin: 10px 0
		padding: 10px
		border-radius: 4px
		overflow: auto
		tab-size: 3
		border-right: 3px solid #FFA300

		code
			background-color: transparent
			padding: 0
	>	h2
		margin-bottom: 0
		font-size: 4rem
		@media (max-width: 414px)
			font-size: 2.5rem
	.main-process
		margin-top: 2rem
		.process-text
			margin-top: 4rem
		h2.ref-text
			margin-top: 3rem
		.referenser
			margin-bottom: 2rem
			p
				margin-bottom: 0
			a
				display: inline

/*PROCESS-SIDAN SLUT*/


footer
	padding: 2rem
	background: #fff
	display: flex
	justify-content: space-between
	//Display:flex gör så att child elementen hamnatr för som inline. Justify-content fixar så att alla child element sprider ut sig så mycket dem kan inom parent elementet
	address
		font-style: normal


@media (max-width: 968px)
	header
		z-index: 0
		//Z-index gör så att elemet hanteras som lager. ungefär som i Photoshop. Man kan lägga elmenten över varandra eller under varandra. Här ligger elmentet i "botten" medans dem andra z-index ligger ovanpå.
		height: 100vh
		.text
			display: block
			.logo
				h1
					margin: 0
					padding-top: 1rem
					text-align: center
			.dropdown-menu
				height: 100%
				z-index: 2
				label
					width: 1rem
					color: #fff
					font-size: 1.5rem
					padding: 1rem
					cursor: pointer
					display: block
					margin: 0 auto
				#toogle
					&:checked + .menu
						display: block
						//När jag trycker på menyn(label toggle) så visas klassen menu. Det blir ett block element som tar upp hela sidans bredd
			.nav
				display: none
				text-align: center
				width: 100%
				background: #fff
				padding: 0
				ul
					li
						&:last-child
							border: none
							margin: 0
						a
							display: block
							border-bottom: 1px solid lightgrey
							margin: 0
							color: #000
		.about
			z-index: -1
			top: 50%
			left: 50%
			width: 85%
			text-align: center
			margin: 0 auto
			transform: translate(-50%, -50%)
	main
		.features
			grid-template-columns: repeat(1, 1fr)
			.artikel-1
				order: 2
				//Här har jag löst ordningen som du sa. Genom att använda mig av flexbox order property.
				padding-top: 4rem
			.artikel-2
				order: 1
			.artikel-3
				order: 3
				padding-top: 4rem
			.card
				background: #f6f6f6
				margin: 1rem 0
				border: none
				img
					width: 200px
				.gizmo
					margin: 0 auto
					right: 0
				.family
					right: 0
					margin: 0 auto
				article
					border: 1px solid #dadada
					margin: -6rem 2rem 0
					padding-top: 3rem

@media (max-width: 456px)
	header
		.text
			width: 100%
			.nav
				ul
					li
						a
							padding: 1rem

@media (max-width: 550px)
	footer
		flex-direction: column
		text-align: center
		h2
			margin-bottom: 0
		h2 + p
			margin-top: 0.2rem


